.play {
    color:rgb(231, 76, 60);
    cursor: pointer;
}

.list-group-item {
    margin: 5px 0 0 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}